{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}


<!-- Landing Page -->
<div class="banner-1">
    <div class="cover-1">
        <h2>{{image.image_category.name}} Category</h2>
        <div class="container imageloc">
            <form class="form" role="search" action="{% url 'search_image' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ff; Search by category"name="image_category">
                  <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
                  <br>
                 </div>
            </form>
        </div>
    </div>
</div>