  <!--Footer-->
  <div class="footer position:fixed text-align: center bg-info">
    <div class="row">
        <div class="col-md-12">
           <p>Copyright &copy; mercyakuku 2022 All Rights Reserved</p>
       </div>
    </div>
   </div>
   <!--End of footer-->






<!-- <style>


    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
    }
    </style>
    
    <div class="footer">
      <p>Footer</p>
    </div>
     -->