{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<!-- Landing Page -->
<div class="banner">
    <div class="cover">
        <div class="container image">
             <h2 id="category">Welcome to Kush's gallery app!</h2>
             <form class="form" role="search" action="{% url 'search_image' %}">

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category" name="image_category">
                  <br>
                </div>
             </form>
                <p>Where users can view displayed photos, copy their links and view their locations and categories!</p>
                <a href="#gallery">VIEW PHOTOS GALLERY</a>
        </div>
    </div>
 </div>

 <div class="container wrap">
   <!-- Looping through images -->
   <div class="row" id="gallery">
   {% for image in images %}
       <!-- displaying images -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                <div class="portfolio-wrap ">
                    <div class="portfolio-wrap hovereffect">
                        <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%">
                            <img src="{{image.picture.cdn_url}}" href="" class="image" alt="Image" >
                            <div class="overlay">
                                <h4>{{image.name}}</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
   {% empty %}
   </div>
   <div class="row">
       <div class="col-sm-6 col-md-6 col-lg-6">
           <img src="{% static 'images/sorry.png' %}" alt="" class="oops">
       </div>
       <div class="col-sm-6 col-md-6 col-lg-6">
           <h2 class="text-center"> Sorry no images for now they are comming soon.</h2>
       </div>
   </div>
   {% endfor %}