/* .image-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
} */


.image {
  border: 2px solid red;
  border-radius: 8px;
  width: 200px;
}

body {
    background-image: url("images/brooke-lark-bg.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-color: purple;
  }

.btn{
    width: 40px;
    height: 10px;
}

  